{
  "openapi": "3.1.0",
  "info": {
    "title": "Voxia Dataflow API",
    "version": "1.0.0",
    "description": "API schema for dataflow.hollowverse.studio endpoints used by Voxia PKW Studio Assistant."
  },
  "servers": [
    {
      "url": "https://dataflow.hollowverse.studio",
      "description": "Primary Dataflow API server"
    }
  ],
  "paths": {
    "/ping": {
      "get": {
        "summary": "Ping the Dataflow server",
        "description": "Simple health check to verify that the Dataflow server is reachable and responsive.",
        "operationId": "ping_dataflow",
        "responses": {
          "200": {
            "description": "Ping successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": { "type": "string", "example": "ok" },
                    "source": { "type": "string", "example": "dataflow.hollowverse.studio" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/data": {
      "post": {
        "summary": "Upload or post a file",
        "description": "Accepts a file upload or JSON payload to be processed by Dataflow.",
        "operationId": "post_dataflow_file",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "filename": { "type": "string", "example": "example.json" },
                  "file": { "type": "string", "format": "binary" }
                }
              }
            },
            "application/json": {
              "schema": { "type": "object" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "File or data successfully posted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": { "type": "string" },
                    "message": { "type": "string" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/data/{filename}": {
      "get": {
        "summary": "Retrieve a data file",
        "description": "Fetch a file from the outgoing data directory by filename.",
        "operationId": "get_dataflow_file",
        "parameters": [
          {
            "name": "filename",
            "in": "path",
            "required": true,
            "schema": { "type": "string" },
            "description": "Name of the file to retrieve."
          }
        ],
        "responses": {
          "200": {
            "description": "File retrieved successfully",
            "content": {
              "application/octet-stream": {},
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "filename": { "type": "string" },
                    "content": { "type": "string" }
                  }
                }
              }
            }
          },
          "404": { "description": "File not found" }
        }
      }
    },
    "/archives": {
      "get": {
        "summary": "Retrieve archived bundles",
        "description": "Lists or retrieves archive bundles from the archive directory. Only GET is allowed.",
        "operationId": "archive_dataflow_files",
        "responses": {
          "200": {
            "description": "Archives retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": { "type": "string" },
                    "message": { "type": "string" }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
