{
  "openapi": "3.1.0",
  "info": {
    "title": "Voxia Dataflow API",
    "version": "1.1.0",
    "description": "OpenAPI schema for the Voxia Dataflow API — secure file and JSON data handling service for Voxia PKW Studio Assistant. Includes ping, data upload/download, and archive creation/listing."
  },
  "servers": [
    {
      "url": "https://dataflow.hollowverse.studio",
      "description": "Primary Voxia Dataflow API server"
    }
  ],
  "tags": [
    { "name": "Ping", "description": "Service health endpoints." },
    { "name": "Data", "description": "Upload and retrieve data files." },
    { "name": "Archives", "description": "Manage archived ZIP bundles." }
  ],
  "paths": {
    "/ping": {
      "get": {
        "tags": ["Ping"],
        "summary": "Ping the Dataflow server",
        "description": "Simple health check endpoint to verify the Dataflow API is running.",
        "operationId": "ping_dataflow",
        "responses": {
          "200": {
            "description": "Ping successful",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/PingResponse" }
              }
            }
          }
        }
      }
    },
    "/dataflow/post": {
      "post": {
        "tags": ["Data"],
        "summary": "Upload file or JSON data",
        "description": "Accepts a JSON payload or multipart file upload. Requires an `X-API-Key` header.",
        "operationId": "post_data",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/PostDataJsonRequest" }
            },
            "multipart/form-data": {
              "schema": { "$ref": "#/components/schemas/PostDataMultipartRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Data successfully saved",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/PostDataResponse" }
              }
            }
          },
          "401": { "description": "Unauthorized or missing API key" }
        },
        "security": [{ "ApiKeyAuth": [] }]
      }
    },
    "/dataflow/get/{filename}": {
      "get": {
        "tags": ["Data"],
        "summary": "Retrieve a stored data file",
        "description": "Fetch a file previously uploaded to `/dataflow/post`.",
        "operationId": "get_data_file",
        "parameters": [
          {
            "name": "filename",
            "in": "path",
            "required": true,
            "schema": { "type": "string" },
            "description": "Name of the file to retrieve"
          }
        ],
        "responses": {
          "200": {
            "description": "File retrieved successfully",
            "content": {
              "application/octet-stream": {},
              "application/json": {
                "schema": { "$ref": "#/components/schemas/GetDataFileJsonResponse" }
              }
            }
          },
          "401": { "description": "Unauthorized" },
          "404": { "description": "File not found" }
        },
        "security": [{ "ApiKeyAuth": [] }]
      }
    },
    "/dataflow/archive": {
      "get": {
        "tags": ["Archives"],
        "summary": "List available archives",
        "description": "Returns a list of ZIP archives in the `/archives` directory.",
        "operationId": "get_archives",
        "responses": {
          "200": {
            "description": "Archives listed successfully",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ArchivesResponse" }
              }
            }
          },
          "401": { "description": "Unauthorized" }
        },
        "security": [{ "ApiKeyAuth": [] }]
      },
      "post": {
        "tags": ["Archives"],
        "summary": "Create a new archive",
        "description": "Creates a ZIP archive of all files in the `/data` directory and stores it in `/archives`.",
        "operationId": "create_archive",
        "responses": {
          "201": {
            "description": "Archive created successfully",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ArchiveCreateResponse" }
              }
            }
          },
          "401": { "description": "Unauthorized" }
        },
        "security": [{ "ApiKeyAuth": [] }]
      }
    },
    "/dataflow/archive/{filename}": {
      "get": {
        "tags": ["Archives"],
        "summary": "Download a specific archive",
        "description": "Retrieve a specific ZIP archive from the `/archives` directory.",
        "operationId": "get_archive_file",
        "parameters": [
          {
            "name": "filename",
            "in": "path",
            "required": true,
            "schema": { "type": "string" },
            "description": "Archive filename (e.g. `archive_20251126_030000.zip`)"
          }
        ],
        "responses": {
          "200": { "description": "Archive retrieved successfully" },
          "401": { "description": "Unauthorized" },
          "404": { "description": "Archive not found" }
        },
        "security": [{ "ApiKeyAuth": [] }]
      }
    }
  },
  "components": {
    "schemas": {
      "PingResponse": {
        "type": "object",
        "properties": {
          "status": { "type": "string", "example": "ok" },
          "source": { "type": "string", "example": "voxia-dataflow" }
        }
      },
      "PostDataJsonRequest": {
        "type": "object",
        "properties": {
          "filename": { "type": "string", "example": "test.json" },
          "data": { "type": "object", "description": "Arbitrary JSON data" }
        },
        "required": ["filename"]
      },
      "PostDataMultipartRequest": {
        "type": "object",
        "properties": {
          "filename": { "type": "string" },
          "file": { "type": "string", "format": "binary" }
        },
        "required": ["filename", "file"]
      },
      "PostDataResponse": {
        "type": "object",
        "properties": {
          "status": { "type": "string", "example": "success" },
          "message": { "type": "string" }
        }
      },
      "GetDataFileJsonResponse": {
        "type": "object",
        "properties": {
          "filename": { "type": "string" },
          "content": { "type": "string" }
        }
      },
      "ArchivesResponse": {
        "type": "object",
        "properties": {
          "status": { "type": "string", "example": "success" },
          "archives": {
            "type": "array",
            "items": { "type": "string" }
          },
          "message": { "type": "string" }
        }
      },
      "ArchiveCreateResponse": {
        "type": "object",
        "properties": {
          "status": { "type": "string", "example": "success" },
          "archive": { "type": "string", "example": "archive_20251126_030000.zip" },
          "message": { "type": "string" }
        }
      }
    },
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key",
        "description": "Provide your Voxia Dataflow API key"
      }
    }
  }
}
