{
  "openapi": "3.1.0",
  "info": {
    "title": "Voxia Dataflow API",
    "version": "1.3.0",
    "description": "Voxia Dataflow API with nested REST structure and live OpenAPI route."
  },
  "servers": [
    {
      "url": "https://dataflow.hollowverse.studio",
      "description": "Primary Voxia Dataflow API server"
    }
  ],
  "paths": {
    "/ping": {
      "get": {
        "summary": "Ping the Dataflow server",
        "operationId": "ping_dataflow",
        "responses": {
          "200": {
            "description": "Ping successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PingResponse"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/dataflow/data/post": {
      "post": {
        "summary": "Upload JSON data to the dataflow storage",
        "operationId": "post_data",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DataPostRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Data stored successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataPostResponse"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/dataflow/data/get/{filename}": {
      "get": {
        "summary": "Retrieve uploaded JSON data by filename",
        "operationId": "get_data_file",
        "parameters": [
          {
            "name": "filename",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Name of the stored file to fetch (e.g., test_hello.json)"
          }
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Data file response (found or not found)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataGetResponse"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/dataflow/data/list": {
      "get": {
        "summary": "List all stored data files",
        "operationId": "list_data_files",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of stored data files",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataListResponse"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/dataflow/archive": {
      "get": {
        "summary": "List archives",
        "operationId": "get_archives",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of archives",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArchiveListResponse"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create new archive from stored files",
        "operationId": "create_archive",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ArchiveCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Archive created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArchiveCreateResponse"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/dataflow/archive/{filename}": {
      "get": {
        "summary": "Download archive file by filename",
        "operationId": "get_archive_file",
        "parameters": [
          {
            "name": "filename",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Archive filename to download (e.g., bundle_2025-11-28.zip)"
          }
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Archive file metadata and download link (if exposed)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArchiveFileResponse"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/voxia/manifest": {
      "get": {
        "summary": "Load Voxia manifest from the Dataflow server",
        "operationId": "get_voxia_manifest",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Voxia manifest content",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VoxiaManifestResponse"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/openapi.json": {
      "get": {
        "summary": "Serve OpenAPI specification for the Dataflow API",
        "operationId": "get_openapi",
        "responses": {
          "200": {
            "description": "OpenAPI specification document",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenApiSpecResponse"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key"
      }
    },
    "schemas": {
      "PingResponse": {
        "type": "object",
        "description": "Response from the /ping endpoint.",
        "properties": {
          "status": {
            "type": "string",
            "example": "ok"
          },
          "source": {
            "type": "string",
            "example": "dataflow"
          }
        },
        "required": ["status"]
      },
      "DataPostRequest": {
        "type": "object",
        "description": "JSON body sent to /dataflow/data/post.",
        "properties": {
          "filename": {
            "type": "string",
            "description": "Optional filename for the stored data.",
            "example": "test_hello.json"
          },
          "data": {
            "type": "object",
            "description": "Arbitrary JSON payload to store."
          }
        },
        "required": ["data"]
      },
      "DataPostResponse": {
        "type": "object",
        "description": "Response from /dataflow/data/post.",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "filename": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        },
        "required": ["success"]
      },
      "DataGetResponse": {
        "type": "object",
        "description": "Response from /dataflow/data/get/{filename}.",
        "properties": {
          "filename": {
            "type": "string"
          },
          "found": {
            "type": "boolean",
            "description": "True if the file was found."
          },
          "data": {
            "type": "object",
            "description": "The stored JSON data, if found."
          }
        },
        "required": ["filename", "found"]
      },
      "DataListResponse": {
        "type": "object",
        "description": "Response listing stored data files.",
        "properties": {
          "files": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "List of stored file names."
          }
        },
        "required": ["files"]
      },
      "ArchiveListResponse": {
        "type": "object",
        "description": "Response listing available archives.",
        "properties": {
          "archives": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "List of archive filenames."
          }
        },
        "required": ["archives"]
      },
      "ArchiveCreateRequest": {
        "type": "object",
        "description": "Request body for creating an archive.",
        "properties": {
          "filenames": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "List of data filenames to include in the archive."
          },
          "archive_name": {
            "type": "string",
            "description": "Optional name for the new archive.",
            "example": "bundle_2025-11-28.zip"
          }
        },
        "required": ["filenames"]
      },
      "ArchiveCreateResponse": {
        "type": "object",
        "description": "Response from /dataflow/archive POST.",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "archive_name": {
            "type": "string"
          },
          "url": {
            "type": "string",
            "format": "uri",
            "description": "Download URL for the archive, if exposed."
          }
        },
        "required": ["success"]
      },
      "ArchiveFileResponse": {
        "type": "object",
        "description": "Response for downloading or referencing an archive file.",
        "properties": {
          "filename": {
            "type": "string"
          },
          "url": {
            "type": "string",
            "format": "uri",
            "description": "Download URL for the archive, if exposed."
          }
        },
        "required": ["filename"]
      },
      "VoxiaManifestResponse": {
        "type": "object",
        "description": "Response containing the Voxia manifest loaded from the Dataflow server.",
        "properties": {
          "content": {
            "type": "object",
            "description": "Arbitrary manifest content used by Voxia."
          }
        },
        "required": ["content"]
      },
      "OpenApiSpecResponse": {
        "type": "object",
        "description": "The OpenAPI specification document served by /openapi.json.",
        "properties": {
          "openapi": {
            "type": "string"
          },
          "info": {
            "type": "object"
          },
          "paths": {
            "type": "object"
          }
        },
        "required": ["openapi", "info", "paths"]
      },
      "ErrorResponse": {
        "type": "object",
        "description": "Error payload returned by the API.",
        "properties": {
          "error": {
            "type": "string"
          },
          "detail": {
            "type": "string"
          }
        },
        "required": ["error"]
      }
    }
  }
}
